
.login{
    margin-left: 5rem;



}

.loginbtn{
    border: none;
    border-radius: 8px;
    background-color: #7c0b0b;
    width: 5rem;
    height: 2rem;
    color: white;

}

.logo{   
    width: 100%;
}
.contain{
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin: auto;


}
.hover{
    color: black;
}

.hover:hover{
    color: #7c0b0b;
}




.MHCA{
    align-items: center;
    gap: 3rem;
}
.d{
    font-size: 1rem;
    font-weight: 500;
}

@media(max-width: 767px){
.login{
    margin: auto;
}


}
@media(max-width: 900px){
    .MHCA{
        gap: 0.5rem;
    


}
}



